{% extends 'base.html.twig' %}


{% block nav %}
    <ul class="navbar-nav navbar-right">
        <a class="nav-link active" href="{{ path('wijzigWachtwoord') }}">Wachtwoord wijzigen </a>
    </ul>
{% endblock %}
